@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@100;400;500;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    font-family: Kanit;
    display: flex;
    justify-content: center;
    align-items: center;
    background: black;
}

.heading {
    font-size: 10rem;
    font-weight: 900;
    background: url(pathway-middle-green-leafed-trees-with-sun-shining-through-branches.jpg);
    background-size: cover;
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
}

.heading:hover {
    background: url(green-sprouts-dark-soil-against-blurred-background-symbolizing-concept-growth-potential.jpg);
    background-size: cover;
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
}